{
    "forEach": "pages",
    "filename": "src/pages/{{kebabCase name}}.page.tsx",
    "formatUsing": "typescript"
}
---
import { AppLayout } from "../layout/AppLayout.component";
import { AppAction } from "../components/AppAction.component";
import { AppDashboardList } from "../components/AppDashboardList.component";
import { AppDashboardStat } from "../components/AppDashboardStat.component";
import { AppDashboardMessage } from "../components/AppDashboardMessage.component";

{{#if listPage}}
{{> list-page-parts page=this }}
{{/if}}

{{#if editPage}}
{{> edit-page-parts page=this }}
{{/if}}

{{#if dashboard}}
{{> dashboard-parts page=this }}
{{/if}}

export function {{pascalCase name}}Page(
    opts: {
        navigate: (path: string) => void
    }
) {
    return <AppLayout content={
        () => (
            <div className="w-full h-full flex flex-col gap-6 p-8 bg-slate-50">
                <div className="flex flex-col gap-2">
                    <h1 className="text-4xl text-slate-800 font-bold tracking-tight">{{capitalCase title}}</h1>
                    <h2 className="text-lg text-slate-500 font-light">{{message}}</h2>
                </div>
                <div className="w-full bg-white rounded-xl shadow-sm border border-slate-200 p-6">
                    <{{pascalCase name}}Content navigate={opts.navigate} />
                </div>
            </div>
        )
    } icon={`{{{icon}}}`} navigate={opts.navigate} />;
}
